/*FORMULARIO*/
form div label,.genero{
    color: white;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
}

form{
    border: dotted 5px palevioletred;
    height: 550px;
    width: 450px;
    padding: 20px;
    margin: auto;
}

/*FORMULARIO CENTRO LOS ELEMENTOS*/
.formulario{
    text-align: center;
    margin-bottom: 18px;
    
}
/*FORMULARIO TITULO REGISTRATE*/
.registrate{
    font-size: 40px;
    text-align: center;
    font-family: Arial;
    color: white;
}
/*FORMULARIO */
input, textarea{
    border: none;
    background-color: palevioletred;

}
.logo{
    width: 120px;
    height: 120px;
    margin: 0 25px;
}
img{
    max-width: 100%;
}
/*HEADER*/

header{
    background-color: palevioletred;
    margin-bottom: 30px;
}
.navbar-brand{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.nav-link {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*ENLACES*/
a{
    text-decoration: none;
}

h1{
    font-size: 25px;
}

body{
    background-color: pink;
}


h1,h2{
    color: white;
    text-align: center;
}


.whatsapp{
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 80px;
    right: 0px;
}

p{
    font-size: 20px;
    
    text-align: center;
}

.mapa{
    display: block;
    margin: 0 auto;
}


h2{
    text-decoration: underline;
}

.galeria{
    display: grid;
    grid-template-areas: 
    "foto1 foto1 foto1 foto1"
    "foto1 foto1 foto1 foto1"
    "foto2 foto2 foto3 foto3"
    "foto2 foto2 foto3 foto3";
    gap: 10px;
    margin: 3px 0;

}

.foto1,.foto2,.foto3{
    max-width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.foto1{
    background-image: url(../img/cotillon-luminoso-invitados.webp);
    grid-area: foto1;
}
.foto2{
    background-image: url(../img/reposteria.JPG);
    grid-area: foto2;
}
.foto3{
    background-image: url(../img/descarga.jpg);
    grid-area: foto3;
}

/*PRODUCTOS CONTENEDOR DE LAS CARDS*/
/*PAGINA PRODUCTOS*/
.fondo{
    background-image: url(../img/patron-articulos-cocina-cocinar-postres-reposteria-estilo-dibujos-animados_313437-359.avif);
}


.contenedor-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

@media(min-width: 790px){
    .contenedor-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}

@media(min-width: 992px){
    .contenedor-cards{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width: 1235px){
    .contenedor-cards{
        grid-template-columns: repeat(4,1fr);
    }
}

.card-img-top{
    height: 250px;
}
.card-title{
    height: 10px;
}
.input-productos{
    background-color: white;
    height: 22px;
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 26px;
    top: 351px;
    border: solid palevioletred 1px;
}
.card-link{
    color: white;
    background-color: pink;
    
}
.titulo {
    color: palevioletred;
}

/*FOOTER*//*PIE DE PAGINA*/
/*ICONOS*/

.bi{
    font-size: 2rem;
    text-align: center;
    color: white;
}

.logo-iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
footer{
    background-color: palevioletred;
    margin: 20px;
    color: white;
}