/*PAGINA UBICACION*/
  /*IFRAME*/
  .mapa{
    display: block;
    margin: 0 auto;
    padding: 20px;
    transition: all 1s;

    &:hover{
      transform: scale(1.08);
    }
    
    @media(min-width: $table){
      
          width: 600px;
          height: 400px;
    
    }
    @media(min-width: $desktop){
      
          width: 800px;
          height: 500px;
      
    }

  }
    
  .ubicacion{
    color: $color-terciario
  }
  
  