
  img{
    max-width: 100%;
  }
  
  /*ENLACES*/
  a{
    text-decoration: none;
  }
  
  h1{
    font-size: 25px;
  }
  
  body{
    background-color: pink;
  }
  
  
  h1,h2{
    color: white;
    text-align: center;
  }
  
  p{
    font-size: 20px;
    text-align: center;
  }
  h2{

    transition: all 0.5s;

    &:hover{
      text-decoration: underline;
      color: palevioletred;
    }
}
  
  /*PAGINA DE INICIO*/
  .logo-inicio{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .carousel-item img{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .grilla{
    display: grid;
    grid-template-areas: 
    "foto1 foto2 foto3"
    "foto1 foto2 foto3";
    gap: 5px;
    margin-top: 10px;
  }
  
  .foto1,.foto2,.foto3{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .foto1{
    background-image: url(../img/reposteria.JPG);
    grid-area: foto1;
  }
  .foto2{
    background-image: url(../img/descarga.jpg);
    grid-area: foto2;
  }
  .foto3{
    background-image: url(../img/cotillon-luminoso-invitados.webp);
    grid-area: foto3;
  }
  /*termina pagina de inicio*/
  
  
