
  img{
    max-width: 100%;
  }
  
  /*HEADER*/
  .logo-header{
    display: none;
  }
  
  @media(min-width: 998px){
    .logo-header{
        display: block;
        width: 110px;
        height: 110px;
        margin: 0 25px;
        border-radius: 60px
    }
  }
  
  header{
    background-color: palevioletred;
    margin-bottom: 20px;
  }
  
  .navbar-brand{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .nav-link {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  /*PSEUDOCLASES EN EL NAV*/
  .nav-link:hover, 
  .navbar-brand:hover{
    color: palevioletred;
    background-color: pink;
    border-radius: 20px;
  }
  .nav-link:active, 
  .navbar-brand:active{
    background-color: palevioletred;
    color: pink;
  }
  /*termina el header*/
  
  
  /*ENLACES*/
  a{
    text-decoration: none;
  }
  
  h1{
    font-size: 25px;
  }
  
  body{
    background-color: pink;
  }
  
  
  h1,h2{
    color: white;
    text-align: center;
  }
  
  p{
    font-size: 20px;
    text-align: center;
  }
  h2{
    text-decoration: underline;
  }
 
  
  /*PAGINA DE INICIO*/
  .logo-inicio{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .carousel-item img{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .grilla{
    display: grid;
    grid-template-areas: 
    "foto1 foto2 foto3"
    "foto1 foto2 foto3";
    gap: 5px;
    margin-top: 10px;
  }
  
  .foto1,.foto2,.foto3{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .foto1{
    background-image: url(../img/reposteria.JPG);
    grid-area: foto1;
  }
  .foto2{
    background-image: url(../img/descarga.jpg);
    grid-area: foto2;
  }
  .foto3{
    background-image: url(../img/cotillon-luminoso-invitados.webp);
    grid-area: foto3;
  }
  /*termina pagina de inicio*/
  
  
