
  /*PAGINA PRODUCTOS*/
  /*FONDO EN LA PAGINA DE PRODUCTOS*/
  .fondo{
    background-image: url(../img/patron-articulos-cocina-cocinar-postres-reposteria-estilo-dibujos-animados_313437-359.avif);
  }
  
  /*PRODUCTOS CONTENEDOR DE LAS CARDS*/
  .contenedor-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;

    @media(min-width: 768px){
    
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
  
    }
    
    @media(min-width: 1024px){
    
      grid-template-columns: repeat(3,1fr);

    }

    @media(min-width: 1440px){
    
      grid-template-columns: repeat(4,1fr);
  
    }
  }


  .card-img-top{
    height: 250px;
  }
  /*NOMBRES DE LOS PRODUCTOS*/
  .card-title{
    height: 10px;
    color: palevioletred;
    
  }
  
  /*CUANTAS UNIDADES?*/
  .input-productos{
    background-color: white;
    height: 22px;
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 26px;
    top: 351px;
    border: solid palevioletred 1px;
  }
  /*PEDIR*/
  .card-link{
    color: palevioletred;
    background-color: pink;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
  }

.card{
    transition: all 1.3s;    

    &:hover{
      transform: scale(1.04);
    }
  }


  /*FILTROS*/
  /*LABEL*/
  .opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;

    label{
      background-color: palevioletred;
      color: white;
      font-size: 20px;
      padding: 5px;
      cursor: pointer;
      border: solid 1px pink;

      &:hover{
        background-color: pink;
        color: palevioletred;
        border: solid palevioletred 2px;
      
      }
    }

    @media(min-width: 768px){
          flex-direction: row;
    }


  }
  
  /*BORRO LOS INPUTS*/
  #saladas, #dulces, #todos{
    display: none;
  }
  .saladas, .dulces{
    display: none;
  }
  
  #saladas:checked ~ .contenedor-cards .saladas{
    display: flex;
  }
  #dulces:checked ~ .contenedor-cards .dulces{
    display: flex;
  }
  
  #todos:checked  ~ .contenedor-cards .dulces,
  #todos:checked ~ .contenedor-cards .saladas{
    display: flex;
  }

  @mixin fondo-opcion {
    background-color: pink;
    color: palevioletred;
    border: solid palevioletred 2px;
  }
  
  #saladas:checked ~ .opciones .pro-saladas{
    @include fondo-opcion();
  }
  #dulces:checked ~ .opciones .pro-dulce{
    @include fondo-opcion();
  }
  #todos:checked ~ .opciones .pro-todos{
    @include fondo-opcion();
  }
  

  /*termina la pagina de productos*/