  /*PAGINA QUIENES SOMOS?*/
  .descripcion-padre{
    @include flex-column;
  }
  
  .descripcion{
    @include flex-fila;
    gap: 10px;
    background-color: $color-terciario;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 1.4s;

    &:hover{
      transform: scale(1.02);
      background-color: $color-primario;
    }

    p{
      width: 85%;
    }

    img{
      display: none;
    }
    
    &:nth-child(even){
      flex-direction: row-reverse;
      
    }

    @media(min-width: 440px){
      img{
        display: block;
        width: 100px;
        height: 100px;
      }
    }
    
    @media(min-width: $desktop){
      img{
        width: 150px;
        height: 150px;
      }
    }
  }

  
  /*ACORDION*/
  .accordion{
    margin: 10px;
  }