/*PALETAS DE COLORES*/
$color-primario: palevioletred;
$color-secundario: pink;
$color-terciario: white;


/*MEDIDAS*/
$table: 768px;
$desktop: 1024px;


/*MIXIN*/
@mixin flex-fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}