/*PALETAS DE COLORES*/
/*MEDIDAS*/
/*MIXIN*/
img {
  max-width: 100%;
}

/*ENLACES*/
a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

body {
  background-color: pink;
}

h1, h2 {
  color: white;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

h2 {
  transition: all 0.5s;
}
h2:hover {
  text-decoration: underline;
  color: palevioletred;
}

/*PAGINA DE INICIO*/
.img-portada {
  height: 130px;
  border-radius: 90px;
}

.portada {
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.portada .img-portada {
  display: none;
}
.portada h1 {
  font-size: 35px;
}
.portada p {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 580px) {
  .portada .img-portada {
    display: block;
  }
}
@media (min-width: 768px) {
  .portada h1 {
    font-size: 45px;
  }
  .portada p {
    font-size: 30px;
  }
}

.carousel-item img {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 100%;
}
.carousel-item .desktop {
  display: none;
}
@media (min-width: 840px) {
  .carousel-item .desktop {
    display: block;
  }
  .carousel-item .mobil {
    display: none;
  }
}

.portadas-redes {
  background-color: palevioletred;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}
.portadas-redes h4 {
  text-align: center;
}

.grilla {
  display: grid;
  grid-template-areas: "foto1" "foto2" "foto3";
  gap: 5px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .grilla {
    grid-template-areas: "foto1 foto2 foto3";
  }
}

.fotos1, .fotos2, .fotos3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  transition: all 1.5s;
}
.fotos1:hover, .fotos2:hover, .fotos3:hover {
  transform: scale(0.93);
}

.fotos1 {
  background-image: url(../img/PASTILLA-BAZAR-Y-DESCARTABLES.jpg);
  grid-area: foto1;
}

.fotos2 {
  background-image: url(../img/PASTILLA-MANUALIDADES.jpg);
  grid-area: foto2;
}

.fotos3 {
  background-image: url(../img/decoracionfiesta.jpg);
}

.text-ofertas {
  background-color: palevioletred;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 10px;
}

.contenedor-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .contenedor-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 1440px) {
  .contenedor-card {
    grid-template-columns: repeat(4, 1fr);
  }
}
.contenedor-card .card-index {
  background-color: palevioletred;
  position: relative;
  border-radius: 10px;
}
.contenedor-card .card-index img {
  height: 250px;
  border-radius: 10px;
}
.contenedor-card .card-index .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
}
.contenedor-card .card-index .card-body a {
  background-color: pink;
  color: palevioletred;
  margin-bottom: 5px;
}
.contenedor-card .card-index h6 {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  right: -15px;
  padding: 10px;
}

/*PAGINA PRODUCTOS*/
/*PRODUCTOS CONTENEDOR DE LAS CARDS*/
.contenedor-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
@media (min-width: 768px) {
  .contenedor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (min-width: 1024px) {
  .contenedor-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1440px) {
  .contenedor-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  transition: all 1s;
}
.card:hover {
  transform: scale(1.08);
}
.card .card-body1 {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  position: absolute;
  top: 138px;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}
.card .card-text {
  color: white;
  margin-left: 5px;
}
.card .card-img-top {
  height: 300px;
}

/* la pagina de productos*/
/*PAGINA QUIENES SOMOS?*/
.descripcion-padre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descripcion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 1.4s;
}
.descripcion:hover {
  transform: scale(1.02);
  background-color: palevioletred;
}
.descripcion p {
  width: 85%;
}
.descripcion img {
  display: none;
}
.descripcion:nth-child(even) {
  flex-direction: row-reverse;
}
@media (min-width: 440px) {
  .descripcion img {
    display: block;
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1024px) {
  .descripcion img {
    width: 150px;
    height: 150px;
  }
}

/*ACORDION*/
.accordion {
  margin: 10px;
}

/*FORMUARIO*/
/*PAGINA CONTACTO*/
.contenedor-formulario {
  background-color: palevioletred;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .contenedor-formulario {
    margin: 0 100px;
  }
}
@media (min-width: 1024px) {
  .contenedor-formulario {
    margin: 0 150px;
  }
}
@media (min-width: 1440px) {
  .contenedor-formulario {
    margin: 0 300px;
  }
}
.contenedor-formulario label, .contenedor-formulario .genero {
  color: white;
  font-size: 18px;
}

.form-label:hover {
  color: pink;
}

.submit {
  background-color: pink;
  color: palevioletred;
  border: pink 2px solid;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
}
.submit:hover {
  background-color: palevioletred;
  color: pink;
}
.submit:active {
  background-color: palevioletred;
  color: white;
}

.registrate {
  font-size: 35px;
  text-align: center;
  font-family: Arial;
  color: white;
  margin: 15px;
  text-decoration: underline;
}

.logo-whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.padre-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: palevioletred;
  margin: 20px 0;
}
.padre-logo img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

/*termina la pagina de contacto*/
/*PAGINA UBICACION*/
/*IFRAME*/
.mapa {
  display: block;
  margin: 0 auto;
  padding: 20px;
  transition: all 1s;
}
.mapa:hover {
  transform: scale(1.08);
}
@media (min-width: 768px) {
  .mapa {
    width: 600px;
    height: 400px;
  }
}
@media (min-width: 1024px) {
  .mapa {
    width: 800px;
    height: 500px;
  }
}

.ubicacion {
  color: white;
}

/*FOOTER*/ /*PIE DE PAGINA*/
/*ICONOS*/
.bi {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 5px;
}

footer {
  background-color: palevioletred;
  color: white;
  margin: 0px;
  margin-top: 20px;
}

.padre-iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logo-iconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medio-pagos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagos-imagenes img {
  width: 200px;
  height: 100px;
  border-radius: 50px;
}

/*termina el footer*/
/*HEADER*/
.logo-header {
  display: none;
}
@media (min-width: 992px) {
  .logo-header {
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 25px;
    border-radius: 60px;
  }
}

header {
  background-color: palevioletred;
  margin-bottom: 20px;
}

.navbar-icono {
  background-color: palevioletred;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
  margin-bottom: 5px;
}
.navbar-icono .bi {
  color: white;
  font-size: 25px;
}

.navbar-brand, .nav-link {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  transition: all 0.4s linear;
}
.navbar-brand:hover, .nav-link:hover {
  color: pink;
  transform: scale(0.8);
}

/*# sourceMappingURL=styles.css.map */
